<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fly-away</display-name>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.webapp.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginVerifyServlet</display-name>
    <servlet-name>AdminLoginVerifyServlet</servlet-name>
    <servlet-class>com.webapp.servlet.AdminLoginVerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginVerifyServlet</servlet-name>
    <url-pattern>/AdminLoginVerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterPlaceView</display-name>
    <servlet-name>MasterPlaceView</servlet-name>
    <servlet-class>com.webapp.servlet.MasterPlaceView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterPlaceView</servlet-name>
    <url-pattern>/MasterPlaceView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterPlaceServletAdd</display-name>
    <servlet-name>MasterPlaceServletAdd</servlet-name>
    <servlet-class>com.webapp.servlet.MasterPlaceServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterPlaceServletAdd</servlet-name>
    <url-pattern>/MasterPlaceServletAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterAirlineView</display-name>
    <servlet-name>MasterAirlineView</servlet-name>
    <servlet-class>com.webapp.servlet.MasterAirlineView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterAirlineView</servlet-name>
    <url-pattern>/MasterAirlineView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterAirlineServletAdd</display-name>
    <servlet-name>MasterAirlineServletAdd</servlet-name>
    <servlet-class>com.webapp.servlet.MasterAirlineServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterAirlineServletAdd</servlet-name>
    <url-pattern>/MasterAirlineServletAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterFlightView</display-name>
    <servlet-name>MasterFlightView</servlet-name>
    <servlet-class>com.webapp.servlet.MasterFlightView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterFlightView</servlet-name>
    <url-pattern>/MasterFlightView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterFlightServletAdd</display-name>
    <servlet-name>MasterFlightServletAdd</servlet-name>
    <servlet-class>com.webapp.servlet.MasterFlightServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterFlightServletAdd</servlet-name>
    <url-pattern>/MasterFlightServletAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightServlet</display-name>
    <servlet-name>SearchFlightServlet</servlet-name>
    <servlet-class>com.webapp.servlet.SearchFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightServlet</servlet-name>
    <url-pattern>/SearchFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.webapp.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterEmail</display-name>
    <filter-name>FilterEmail</filter-name>
    <filter-class>com.webapp.filter.FilterEmail</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterEmail</filter-name>
    <url-pattern>/FilterEmail</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterEmail</filter-name>
    <servlet-name>RegisterServlet</servlet-name>
  </filter-mapping>
</web-app>