<div class="container pl-5">
    <div class="row py-5 mt-3 align-items-center myDiv">
        <div class="col-md-4 ml-5 pr-lg-5 mb-5 mb-md-0 text-center">
            <img src="../../../../assets/svgAccount.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
        </div>

        <div class="col-md-7 col-lg-6 ml-auto">
            <div class="row myHoverClass">
                <div class="col-lg-6 text-center border border-info border-bottom-0 border-right-0 rounded-left p-3">
                    <p>Account Number</p>
                    <br>
                    <h6>{{accountNumber}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info border-bottom-0 rounded-right p-3">
                    <p>Account Holder Name</p>
                    <br>
                    <h6>{{accountHolderName}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info border-bottom-0 border-right-0 rounded-left p-3">
                    <p>Account CIF Number</p>
                    <br>
                    <h6>{{accountCIFNumber}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info border-bottom-0 rounded-right p-3">
                    <p>Account Branch</p>
                    <br>
                    <h6>{{accountBranch}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info rounded-left border-right-0 p-3">
                    <p>Primary Account Balance</p>
                    <br>
                    <h6 class="display-5">Rs. {{accountBalancePrimary}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info rounded-right p-3">
                    <p>Savings Account Balance</p>
                    <br>
                    <h6 class="display-5">Rs. {{accountBalanceSavings}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>