<div class="container pl-5">
    <div class="row py-5 mt-4 align-items-center myDiv">
        <div class="col-md-4 ml-5 pr-lg-5 mb-5 mb-md-0 text-center">
            <img src="../../../../assets/svgOnlineBanking.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1 class="display-3">ICIN Bank</h1>
        </div>

        <div class="col-md-7 col-lg-6 ml-auto">
            <h3 class="ml-5">Welcome {{userName}}!</h3>
            <p class="ml-5 font-italic">
                Select your choice and operate banking at home!
            </p>
            <h5 class="ml-5">Happy Banking!</h5>
        </div>
    </div>
</div>