<p class="text-center display-4 mt-4">Cheque Book Requests</p>
<div class="myContainer">
    <div class="col-md-12 col-lg-12 ml-auto">
        <table class="table">
            <tr class="table-active">
                <th scope="col" class="border-right">Cheque Book Number</th>
                <th scope="col">Account Number</th>
                <th scope="col">Cheque Book Issue Date</th>
                <th scope="col">Operation</th>
            </tr>
            <tr *ngFor="let chequeBook of toShowChequeBooks">
                <td scope="row" class="border-right">{{chequeBook['chequeBookNumber']}}</td>
                <td>{{chequeBook['accountNumber']}}</td>
                <td>{{generateDate(chequeBook['chequeBookIssueDate'])}}</td>
                <td>
                    <button (click)="allow(chequeBook['chequeBookNumber'])" class="btn btn-danger">ALLOW</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12 col-lg-12 float-right">
        <button [disabled]="!allowBack" class="btn btn-primary mr-2" (click)="onPrev();">Prev</button>
        <button [disabled]="!allowNext" class="btn btn-primary" (click)="onNext();">Next</button>
    </div>
</div>
